* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    border-color: rgba(12, 12, 12, 0.882);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgb(92, 241, 241);
}

#calcTemp {
    padding: 29px 67px;
    min-height: 290px;
    background-color: rgba(255, 243, 10, 0.923);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

label {
    font-size: 30px;
    line-height: 78px;
    color: black;
    text-shadow: 2px 4px 8px rgb(23, 10, 207);
}

#temp {
    width: 110px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    font-weight: bold;
    font-style: italic;
    color: red;
}

#temp_diff {
    width: 120px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    color:blue;
    text-shadow: 4px 4px 8px rgb(10, 202, 42);
    font-weight: bold;
}

#submit {
    width: 100px;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(218 229 220);
    padding: 5px;
    transition: all 0.5s ease;
    font-weight: bold;
}

#submit:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

#result{
    font-size: 27px;
    font-style: italic;
    font-weight: bold;
    color: rgb(6, 234, 6);
}
